body {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    box-sizing: border-box;
}
.hero {
    display: flex; 
    justify-content: center; /*aligned horizontal*/
    align-items: center; /*aligned verticle*/
    height: 100vh;
    background-image: url(../images/history-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

h1 {
    color: white;
    text-align: center;

}

main {
    display: flex;
    flex-wrap: wrap;
}
main section {
    flex-grow: 1;
    width: 30%;
    margin: 10px;
    background-color: burlywood;
    border: solid burlywood 2px;
    border-radius: 5px;
    padding: 5px;
}