body {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    box-sizing: border-box;
}
.hero {
    display: flex; 
    justify-content: center; /*aligned horizontal*/
    align-items: center; /*aligned verticle*/
    height: 100vh;
    background-image: url
}