@media screen and (max-width: 768px) {
    .big-stew, .stew-content, .project, .project: first-child, aside, .show-info, main section, main, section, article, header, footer, .pure-g, .pure-u-2-3, .pure-u-1-3, .pure-u-1-5, .hero p {
        display: block;
        width: 95%;
        margin: auto;
    }
}

.history-hero {
    height: 50vw;
}

